
  div {
    font-size: large;
      }

    .my-contacts{

      padding-left: 10px;
      text-align: center;
    }

    .nav{
      background-color: darkgoldenrod;
      text-align: center;
      padding: 20px;
      font-family:cursive;
      color: white;
    }
    .intro {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-left: 10%;
      margin-right: 20%;
    }


    .note {
    font-size: 160%;
    color: red;
  }

   .main-info{
     background-color:coral;
     margin-top: 20px;
     border: 1px solid yellow;
     border-radius: 5px;
     min-height: 10px;
     min-width: 10px;
     font-size: x-small;

   }


  .bg-ex-fixed{
    background: url(PXL_20230926_150242039.PORTRAIT.ORIGINAL.jpg); /* Путь к картинке */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Закрепляем изображение */
  }











